{{ define "main" }}
  <article class="markdown">
    {{ if .Params.featuredImage }}
			<img src="{{ .Params.featuredImage | absURL }}" class="w-50 h-50 rounded-full border border-gray-300" alt="{{ .Params.featuredImageAlt }}">
		{{ end }}
    <h1 class="mt-4 text-3xl font-bold tracking-tight">{{ .Title }}</h1>

    {{ $dateMachine := .Date | time.Format "2006-01-02T15:04:05-07:00" }}
    {{ $dateHuman := .Date | time.Format ":date_long" }}
    <time datetime="{{ $dateMachine }}" class="ml-2 mb-4 block">
      {{ $dateHuman }}
    </time>

    {{ .Content }}
  </article>
  {{ partial "terms.html" (dict "taxonomy" "tags" "page" .) }}
{{ end }}