@import "tailwindcss";

@layer base {

}

@layer components {
    .debug {
        border: 2px dashed red;
    }

    .markdown {
        /* 
          Apply in markdown class base 
            @apply text-gray-900 font-serif;
        */
        
        p {
            margin-block: 16px;
            max-width: 30em;
        }
        
        a {
        text-decoration: underline;
        }

        a:hover {
            color: var(--color-zinc-600);
        }

        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            @apply mt-5;
        }

        h1 {
            font-size: var(--text-2xl);
            font-weight: 700;
        }
        h2 {
            font-size: var(--text-xl);
            font-weight: 700;
        }
        h3 {
            font-size: var(--text-lg);
            font-weight: 500;
        }
        h4 {
            font-size: var(--text-md);
            font-weight: 400;
        }
        h5 {
            font-size: var(--text-sm);
            font-weight: 300;
        }
        h6 {
            font-size: var(--text-sm);
            font-weight: 300;
        }

        ul, ol {
            @apply list-inside;
            @apply list-disc;
            @apply mb-2;
        }
        ol {
            @apply list-decimal;
        }
        
        th {
            background-color: var(--color-slate-100);
        }

        table, th, td {
            @apply my-4;
            border: 1px solid;
            padding: 5px;
        }
    }

}
