:root {
  --accent: #000000;
  --accent-ligher: #056141;
  --main: #333;
  --light: #666;
  --lighter: #f3f3f3;
  --border: #e6e6e6;
  --bg: #fff;
  --nav-bg: #D7FDF0;
  --nav-bg-hover: #c4f9e6;
}
body {
  background: var(--bg);
  color: var(--main);
  font-family: Ubuntu, Roboto,'Open Sans', -apple-system, sans-serif;
  line-height: 1.5;
  margin: 0 auto;
  padding: 0 1em;
  max-width: 768px;
}

header {
  margin-bottom: 1rem;
}

footer {
  border-top: 1px solid #222;
  margin-top: 1rem;
}

a {
  color: var(--accent);
  text-decoration: underline;
  font-size: large;
}
a:visited {
  color: #518;
}
a:hover, a:focus, a:active {
  color: var(--accent-ligher);
}

nav {
  margin: 0;
  padding: 0;
  overflow: hidden;
  border: 3px solid;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: var(--nav-bg);
}

nav ul li {
  display: inline-block;
}

nav ul li a:hover {
  background-color: var(--nav-bg-hover);
}

nav ul li a.current {
  background-color: var(--accent);
}

nav li a, nav li a:visited, nav li a:hover {
  display: block;
  padding: 15px 15px;
  color: black;
  font-size: large;
}

table, th, td {
  border: 2px solid black;
  padding: 1em;
}